<footer class="footer-top">
	<div class="container">
		<div class="row">
			<nav class="col-xs-7 col-md-3">  
        {{footer_sil}}
			</nav>
			<nav class="col-xs-5 col-md-3">  
        {{footer_software}}
			</nav>
			<nav class="col-xs-7 col-md-3">  
        {{footer_fonts}}
			</nav>
			<nav class="col-xs-5 col-md-3">  
        {{footer_contact}}
			</nav>
		</div>
	</div>
</footer>
